@import "../global/mixins";
@import "../global/variables";
@import "../global/global";


.title_div{
    @include flex($wrapper: wrap, $justify: space-between, $align: center);
    @extend .border-b;
    width: 100%;
    
    @media (max-width: 768px){
        border: none;
    }

    
    .title_content{
        width: 95%;
        display: flex;
        justify-content: space-between;
        padding-right: $md;
        
        @media (max-width: 768px){
            width: 100%;
            flex-direction: column;
            align-items: center;
            border-bottom: 1px solid $gray-dark;
            padding-bottom: $sm;
            padding-right: 0;
        }
        
        p{
            font-size: 1.2rem;
            font-weight: 600;
            
        } 
        ul{
            display: flex;
            @media (max-width: 768px){
                padding-top: $sm;
            }
            li{
                list-style: none;
                font-weight: normal;
                padding-right: 2.5rem;
                position: relative;
                font-size: 14px;
                
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 10%;
                    left: 75%;
                    width: 2px;
                    height: 50%;
                    border-radius: 50%;
                    background-color: $gray-dark;
                    
                }
                &:last-child:after{
                    content: "";
                    display: none;
                }
                &:last-child{
                    content: "";
                    padding-right: 0;
                }
                
            }
        }       
    }
}

.controller{
    width: 5%;
    @media (max-width: 768px){
        width: 100%;
    }
    @include flex($justify: end, $align: center);
    
    div{
        @include flex($justify: space-between, $align: center);
        button{
            background: none;
            border: none;
            display: block;

            svg{
                vertical-align: middle;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
        span{
            display: block;
            color: $gray-dark;
            font-weight: 200;
        }
    }

}

.dualDiv_container{
    @extend .container;

    padding: 5vh 0;

    margin-top: 10vh;

    .div_container{

        padding: $sm;
        border: 1px solid $gray-dark;
        background: $white;
        border-radius: 5px;
        .left_div{
            width: 25%;
            position: relative;
            @media (max-width: 1024px){
                width: 100%;
            }
        }
        .right_div{
            width: 75%;
            padding-left: $md;
            @media (max-width: 1024px){
                padding-left: 0;
                width: 100%;
            }
        }
    }
}


.product_card{
    display: flex;
    justify-content: center;
    align-items: center;

    .product_card_price{
        p{
            
        }
    }
}